.header-nav {
    width: 309px;
    height: 34px;
    top: 17px;
    display: flex;
    justify-content: space-around;
}

.header-nav--link{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    color: #FF6060;
    display: flex;
    text-align: right;
    text-decoration: none;
}

.header-nav--link:hover{
    text-decoration: underline;
}