.header-nav {
    width: 309px;
    font-weight: 500;
    height: 34px;
    top: 17px;
    display: flex;
    justify-content: space-between;
}

.header-nav--link{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    color: #FF6060;
    display: flex;
    text-align: right;
    text-decoration: none;
}

.header-nav--link:hover{
    text-decoration: underline;
}

@media screen  and (max-width: 768px){
    .header-nav{
        height: 17px;
        width: 140px;
        display: flex;
        flex-wrap: wrap;
    }

    .header-nav--link{
        font-size: 12px;
        text-transform:uppercase;
    }
    }