.carrousel{
    display: flex;
    width: 1240px;
    overflow: hidden;
    position: relative;
    border-radius: 25px;
}

.carrousel-img {
    min-width: 1240px;
    height: 415px;
    object-fit: cover;
    overflow: hidden;
}