.header {
    margin: 40px auto 63px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    height: 68px;
}

.header-logo{
    width: 210.32px;
    height: 68px;
}