.header {
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    height: 68px;
}

.header-logo{
    width: 210.32px;
    height: 68px;
}