.header-nav--list {
    width: 309px;
    height: 34px;
    top: 17px;
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.header-nav--li{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    color: #FF6060;
    display: flex;
    text-align: right;
    text-decoration: none;
}