.main{
width: auto;
}
.conteneur{
    display: flex;
    max-width: 1240px;
    overflow: hidden;
    position: relative;
    border-radius: 25px;
    scroll-behavior: smooth;
}

.carrousel-btn--G{
    background-color: rgba(0,0,0,0);
    border: 0px;
    position: absolute;
    z-index: 2;
    top:330px;
    left:30px;
    opacity: 0.4;
    cursor: pointer;
    transition: all 1s;
}
.carrousel-btn--G:hover{
    opacity: 1;
    transition: all 1s;
    }

.carrousel-btn--D{
    background-color: rgba(0,0,0,0);
    border: 0px;
    position: absolute;
    transform: rotate(180deg);
    z-index: 2;
    top:330px;
    right:30px;
    opacity: 0.4;
    cursor: pointer;
    transition: all 1s;
}

.carrousel-btn--D:hover{
    opacity: 1;
    transition: all 1s;
    }

.carrousel-img {
    position: relative;
    left: 0;
    width:1240px;
    height: 415px;
    object-fit: cover;
    z-index: 0;
    transition: all 1s ease-in-out;
}