.conteneur, .slide{
    display: flex;
    max-width: 1240px;
    position: relative;
    height: 415px;
    border-radius: 25px;
}

.slide{
    opacity: 0;
    transition: all 0.5s ease-in
}

.active {
    opacity: 1;
    transition: all 0.5s ease-in
}

.carrousel-btn--G{
    background-color: rgba(0,0,0,0);
    border: 0px;
    position: absolute;
    z-index: 2;
    top:40%;
    left:10px;
    opacity: 0.4;
    cursor: pointer;
    transition: all 1s;
}
.carrousel-btn--G:hover{
    opacity: 1;
    transition: all 1s;
    }

.carrousel-btn--D{
    background-color: rgba(0,0,0,0);
    border: 0px;
    position: absolute;
    transform: rotate(180deg);
    z-index: 2;
    top:40%;
    right:10px;
    opacity: 0.4;
    cursor: pointer;
    transition: all 1s;
}

.carrousel-btn--D:hover{
    opacity: 1;
    transition: all 1s;
    }

.carrousel-img {
    width: 1240px;
    object-fit: cover;
    border-radius: 25px;
}
