.info {
    max-width: 1240px;
    display: flex;
    color: #FF6060;
    font-weight: 500;
    margin: 20px 0;
}

.infoleft {
    width: 80%;
}

.inforight {
    position: relative;
    width: 20%;
    display: flex;
    flex-direction: column;
    height: auto;
}

.info-title {
    font-size: 36px;
    margin-bottom: 5px;
}

.info-plus {
    margin-top: 20px;
    display: flex;
    list-style: none;
}

.info-plus--unique {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    background-color: #ff6060;
    color: white;
    font-size: 14px;
    font-weight: 400;
    padding: 0;
    width: 180px;
    height: 25px;
    border-radius: 10px;
}

.host {
    width: 100%;
}

.host-name {
    text-align: right;
    position: absolute;
    top: 10px;
    right: 75px;
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    height: 52px;
    width: 93px;
}

.host-picture {
    position: absolute;
    width: 64px;
    height: 64px;
    border-radius: 40px;
    top: 0;
    right: 0;
}
.star {
    padding-right: 5px;
}
.info-stars--list,
ul {
    position: absolute;
    width: 100%;
    bottom: 0;
    justify-content: right;
    height: 30px;
    display: flex;
    list-style: none;
}

@media screen and (max-width: 890px){
    .star {
width: 31px;
}
}

@media screen and (max-width: 768px) {
    .info {
        flex-direction: column;
        margin-top: 10px;
    }

    .info-title{
        font-size: 18px;
        margin-bottom: 10px;
    }

    .info-localisation {
        font-size: 14px;
        margin-top: 10px;
    }

    .info-plus{
        margin-top: 10px;
    }

    .info-plus--unique{
        font-size: 14px;
        height: auto;
        text-align: center;
        padding: 2px;
        border-radius: 5px;
    }

    .infoleft {
        width: 100%;
    }

    .inforight {
        height: 33px;
        margin: 10px 0;
        width: 100%;
        justify-content: space-between;
    }
    .host-name{
        font-size: 12px;
        width: 60px;
        right: 50px;
    }

    .host-picture{
        width: 32px;
        height: 32px;
        top: 10px;

    }
    .info-stars--list,
    ul {
        padding: 15px 0;
        justify-content: left;
    }

    .star{
        width: 20px;
    }



}