.logement {
    margin: auto;
    max-width: 1240px;
    margin-bottom: 30px;
}

.conteneur-props {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.conteneur-props--description {
    max-width: 48%;
}

.conteneur-props--equipments{
    width: 48%;
}

@media screen and (max-width: 1239px) {
    .logement {
        margin: 20px;
    }
}

@media screen and (max-width:768px) {

    .conteneur-props {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .conteneur-props--description {
        max-width: 100%;
    }

    .conteneur-props--equipments {
        width: 100%;
    }



}