.cardlist{
    margin-top: 43px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #F7F7F7;
    border-radius: 25px;
}

@media screen and  (max-width:768px){
    .cardlist{
        margin-top: 20px;
        background-color: white;
    }

    .cardlist-link{
        width: 100%;
    }
}