.home{
margin: 40px auto;
max-width: 1240px
}

@media screen and  (max-width: 1239px){
    .home{
        margin: 20px;
    }
    }

@media screen and (max-width: 768px){
    .home{
        margin: 10px
    }
    

}
    
