.section1 {
    max-width: 1240px;
    height: 223px;
}

.section1-img {
    max-width: 100%;
    position: absolute;
    object-fit: cover;
}

.section1-text {
    margin: 78px 262px 77px 273px;
    position: absolute;
    font-size: 48px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #FFFF;


}