.section1 {
    max-width: 1240px;
    height: 223px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1-img {
    max-width: 100%;
    object-fit: cover;
}

.section1-text {

    position: absolute;
    font-size: 3vw;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #FFFF;
}

@media screen and  (max-width: 1239px){
    .section1, {
        margin:20px;
    }
    }